* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

/* header */
.container-header {
    background-color: rgb(180, 116, 240);
    padding: 16px 0;
    display: flex;
    justify-content: space-around;
    border-bottom: 16px solid rgba(114, 6, 114, 0.726);
}

.title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;

}

.btn {
    background-color: black;
    padding: 4px 16px;
    font-weight: bold;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

/* formulario */
.container-forms {
    text-align: center;
    padding: 24px 0;
    background-color: rgba(121, 23, 121, 0.733);
    display: none;
}

.container-forms p {
    font-size: 24px;
    margin-bottom: 16px;
    color: #fff;
}

.container-forms form input {
    padding: 4px 12px;
    width: 400px;
    outline: none;
    border: none;
    border-radius: 8px;
}

.container-forms button {
    background-color: black;
    width: 92px;
    padding: 4px 0;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    border: none;
}

.container-forms button:hover {
    background-color: rgba(0, 0, 0, 0.699);
}

.container-forms .btn-remove {
    background-color: rgba(255, 0, 0, 0.651);
    outline: none;
    border: none;

}

.container-forms .btn-remove:hover {
    background-color: rgba(218, 2, 2, 0.521);

}

.container-forms .forms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

/* galeria de imagens */

.container-images .list {
    display: flex;
    margin-top: 32px;
    flex-wrap: wrap;
    
}

.list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    height: 157px;
     width: 33,33%;
     position: relative;

}

.list li:hover a{
 opacity: 1;
 transition: all ease .7s;
}

.list li img {
   width: 100%;
    overflow-y: hidden;
    object-fit: cover;
    
}

.list li a {
    font-size: 12px;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 4px 0;
    text-align: center;
    opacity: 0;
}

